[submodule "core"]
	path = core
	url = https://github.com/Aochong-Li/core.git
[submodule "marin"]
	path = marin
	url = https://github.com/marin-community/marin.git
[submodule "nanotron"]
	path = nanotron
	url = git@github.com:Aochong-Li/nanotron.git
